* {
    font-family: 'Segoe UI', Helvetica, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(30, 29, 29);
    color: white;
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    color: white;
}

.wrapper{
    padding: 0;
    margin:0;
}

.nav{
    background-color: #2f2b30;
    word-spacing: 30px;
    height: 40px;
    padding-top: 0px;
    margin: 0;
}

.body-top{
    background-color: #151414;
    word-spacing: 4px;
    padding: 0;
    margin: 0;
    height: 90px;
}

.body-top h1{
    margin-left: 5%;
}
.second-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-left: 4%;
}

.nav-buttons{
    padding-top: 10px;
    margin-top: 0;
    font-size: 20px;
    margin-left: 2%;
}

.nav-buttons li{
    display: inline;
}

.nav-buttons li a{
    text-decoration: None;
    color: white;
    word-spacing: normal;
}

#nav-span{
    word-spacing: 2px;
}

.page-title{
    color: white;
    padding-top: 10px;
    margin: 0 1%;
}

.page-title-meta{
    color: white;
    margin: 0.2px 1%;
    word-spacing: normal;
}

.search-container{
    float: right;
    padding: 6px 10px;
    margin-top: -25px;
    margin-right: 16px;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
}

.search-bar{
    margin: auto;
    width: 75%;
    height: 30px;
}

.search-icon{
    margin: -5%;
    height: 24px;

}

.data-table-heading h1{
    margin: 10px 5%;
    text-align: center;
}
.data-table table{
    border-collapse: collapse;
    border: 3px solid #013567;
    margin: 10px 5%;
    width: 90%;
}

.data-table table th, td{
    border: 1px solid #013567;
    margin: 10px 5%;
    text-align: center;
}

.home-table {

}

.home-table table{
    border-collapse: collapse;
    border: 3px solid #013567;
    margin: 10px 5%;
    width: 30%;
    padding-top: 10px;

}

.home-table table th, td{
    border: 1px solid #013567;
    margin: 10px 5%;
    height: 30px;
    width: 10%;
    padding-top: 10px;
    text-align: center;

}

.home-table table td, a{
    text-decoration: none;
    color: blue;
    font-weight: normal;

}

.home-table-title{
    margin: 2% 5%;
    word-spacing: 10px;
}

.pagination{
    margin: 2% 35%;
}

.air-pol-img-card{
    width: 120%;
    height: 220px;
    margin: 0 0%;
}

.movie-card{
    margin: 1% 2%;
    width: 15%;
    justify-content: space-evenly;
    padding: 2%;
}

.flip-card {
    margin-left: 15%;
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card img{
    width: 100%;
    height: 100%;
}

.flip-card-back {
    display: block;
    background-color: rgba(0, 0, 0, 0.872);
    color: white;
    transform: rotateY(180deg);
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.flip-card-back img{
    transform: scaleX(-1);
    filter: brightness(50%);
}

.flip-card-back h3{
    position: absolute;
    top: 5%;
    padding: 2%;
    justify-self: center;
}

.flip-card-back p{
    font-size: small;
    position: absolute;
    top: 25%;
}

.flip-card-back .genre{
    font-size: small;
    position: absolute;
    top: 75%;
}

.flip-card-back .year{
    font-size: small;
    position: absolute;
    top: 3%;
    left: 40%;
}

.page-movie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie-title{
    display: grid;
    justify-content: center;
    margin-top: 10px;
}