* {
    font-family: 'Segoe UI', Helvetica, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(30, 29, 29);
    color: white;
    padding: 0;
}

.main-body{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    color: white;
}

.wrapper{
    margin: 0;
}

.body-top{
    background-color: #151414;
    word-spacing: 4px;
    padding: 0;
    margin: 0;
    height: 90px;
    width: 100%;
}

.body-top h1{
    margin-left: 5%;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e69200, 0 0 40px #e69200, 0 0 50px #e69200, 0 0 60px #e69200, 0 0 70px #e69200;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #fff64d, 0 0 40px #fff64d, 0 0 50px #fff64d, 0 0 60px #fff64d, 0 0 70px #fff64d, 0 0 80px #fff64d;
    }
}

.second-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-left: 4%;
    height: 20px;
    padding-top: 5px;
}

.nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #2f2b30;
    height: auto;
    margin-top: -15px;
    z-index: 10;
}

.nav-buttons{
    list-style-type: none;
    margin-left: 3%;
    overflow: hidden;
    padding: 5px 0px;
}

.nav-buttons li{
    float: left;
}

.nav-buttons li a{
    display: block;
    text-decoration: None;
    margin-top: -5px;
    margin-bottom: -5px;
    padding: 15px 16px;
    color: white;
    word-spacing: normal;
}

.nav-buttons li a:hover{
    background-color: black;
    color:white;
}

#nav-span{
    word-spacing: 2px;
}

.page-title{
    color: white;
    padding-top: 10px;
    margin: 0 1%;
}

.page-title-meta{
    color: white;
    margin: 0.2px 1%;
    word-spacing: normal;
}

.search-container{
    float: right;
    padding: 5px 15px;
    margin-top: -25px;
    margin-right: 16px;
    font-size: 15px;
    color: white;
}

.search-bar{
    margin: auto;
    width: 400px;
    height: 30px;
}

.search-icon{
    height: 24px;
}

.pagination{
    margin: 2% 35%;
    text-align: center;
}

.movie-card{
    display: grid;
    justify-content: space-evenly;
    padding: 3%;
    margin-left: -50px;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card img{
    width: 100%;
    height: 100%;
}

.flip-card-back {
    display: block;
    background-color: rgba(0, 0, 0, 0.872);
    color: white;
    transform: rotateY(180deg);
    width: 100%;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
}

.flip-card-back img{
    transform: scaleX(-1);
    filter: brightness(50%);
}

.flip-card-back .container{
    position: absolute;
    top: 1%;
    margin: auto;
    height: 100%;
    width: 100%;
    text-align:center;
}

.page-movie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 7%;
    margin-right: 5%;
}

.movie-title{
    display: grid;
    text-align: center;
    margin-top: 10px;
    inline-size: 200px;
    overflow-wrap: break-word;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #151414;
    color: white;
    text-align: center;
}
