{% extends 'movie_store/layout.html' %}
{% block title %}
Modify Customer Details - Movie Store
{% endblock %}
{% block content %}
{% if customer.user == request.user %}
<h1>Edit Details for {{ customer.user.first_name }} {{ customer.user.last_name }}</h1>
<form method="POST">
    {% csrf_token %}
    <label for="{{ form.address.id_for_label }}">Shipping Address:</label>
    {{ form.address }}
    <button type="submit">Update Address</button>
</form>
    
{% else %}
<h1>You are not authorized to edit this customer.</h1>
{% endif %}
{% endblock %}