{% load static %}
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'movie_store/styles.css' %}">
    </head>
    {% block body %}
    <body>
        <div class="page-container">
            <div class="wrapper">
                    <div class="body-top">
                        <h1 class="page-title">Movie Store</h1>
                        <div class="second-header">
                            <h3 class="page-title-meta">Your one stop shop for movies</h3>
                            <div class="search-container">
                                <form method="POST" action="/search/">
                                    {% csrf_token %}
                                    <input class="search-bar" type="search" placeholder="Search something" name="query" required>
                                    <button type="submit">Go</button>
                                    <br>Filter by:
                                    <input type="radio" name="search" value="title" checked>Title
                                    <input type="radio" name="search" value="artist">Artist
                                    <input type="radio" name="search" value="director">Director
                                    
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                
                    {% block navbar %}
                    <nav class="nav">
                        <ul class="nav-buttons">
                            <li><a href="/movies">Movies</a></li>
                            {% if user.is_staff %}
                            <li><a href="/orders">Orders</a></li>
                            <li><a href="/customers">Customers</a></li>
                            <li><a href="/movies/new/">Add a Movie</a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li><a href="/basket_detail/">Cart</a></li>
                            <li><a href="/accounts/logout">Logout ({{ user.get_username }})</a></li>
                            {% else %}
                            <li><a href="/accounts/login">Login</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endblock %}
                
                
                <div class="main-body">
                    {% block content %}{% endblock %}
                </div>

                <div class="footer">
                    <p>Created by Christopher Lee in April 2022</p>
                </div>
            </div>
        </div>
    </body>
    {% endblock %}
</html>