<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <a href="/">Home</a> |
        <a href="/movies">Movies</a> |
        {% if user.is_staff %}
        <a href="/orders">Orders</a> |
        <a href="/movies/new/">Add a Product</a> |
        {% endif %}
        {% if user.is_authenticated %}
        <a href="/accounts/logout">Logout ({{ user.username }})</a> |
        {% else %}
        <a href="/accounts/login">Login</a>
        {% endif %}
        <form method="POST" action="/search/">
            {% csrf_token %}
            <input type="search" placeholder="Search something" name="query" required><input type="submit" value="Go!">
            <br>Filter by:
            <input type="radio" name="search" value="title" checked>Title
            <input type="radio" name="search" value="artist">Artist
            <input type="radio" name="search" value="director">Director
            <br>
        </form>
        {% block content %}{% endblock %}
    </body>
</html>