{% extends 'movie_store/layout.html' %}

{% block title %}
Movie List - Movie Store
{% endblock %}

{% block content %}
<h1>Movie List</h1>
<div class="page-movie">
    {% for movie in page_obj %}
    <div class="movie-card">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ movie.poster_link }}">
                </div>
                <div class="flip-card-back">
                    <img src="{{ movie.poster_link }}">

                    <div class="container">
                        <a href='{% url 'movie_details' id=movie.id %}'>
                            <h3>{{ movie.title }}</h3>
                        </a>
                        <p>{{ movie.year_released }}</p>
                        {% if movie.tagline %}
                            <p>{{ movie.tagline }}</p>
                        {% endif %}
                        <p>
                            {% for genre in movie.genre.all %}
                            {% if not forloop.last %}
                                {{ genre }},
                            {% else %}
                                {{ genre }}
                            {% endif %}
                            {% endfor %}
                        </p>
                        <p>{{ movie.imdb_rating }}/10 ({{ movie.imdb_votes }} votes)</p>
                    </div>
                </div>
            </div>
        </div>
        <a href='{% url 'movie_details' id=movie.id %}'>
            <span class="movie-title">{{ movie.title|upper }}</span>
        </a>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}