{% extends 'movie_store/layout.html' %}

{% block title %}
Movie List - Movie Store
{% endblock %}

{% block content %}
<div class="second-title-bar">
    <h1>Movie List</h1>
    <a href="{% url 'movie_details' id=randoms.id %}"><button class="random-button button">Pick a Random Movie for Me!</button></a>
</div>
<div class="page-movie">
    {% for movie in page_obj %}
    <div class="movie-card">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ movie.poster_link }}">
                </div>
                <div class="flip-card-back">
                    <img src="{{ movie.poster_link }}">

                    <div class="container">
                        <p class="upper-card">
                            <a href='{% url 'movie_details' id=movie.id %}'>
                                <h3>{{ movie.title }}</h3>
                            </a>
                            {{ movie.year_released }}
                        </p>
                        {{ movie.imdb_rating }}/10 ({{ movie.imdb_votes }} votes)
                        <p>
                            {% for genre in movie.genre.all %}
                            {% if not forloop.last %}
                                {{ genre }},
                            {% else %}
                                {{ genre }}
                            {% endif %}
                            {% endfor %}
                            <br>
                        </p>
                        <div class="lower-back-card">
                            
                            <form method="post" action="{% url 'basket_add' movie.id %}">
                                {{ basket_movie_form }}
                                {% csrf_token %}
                                <br><button class="button3" type="submit">Add to Basket</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href='{% url 'movie_details' id=movie.id %}'>
            <span class="movie-title">{{ movie.title|upper }}</span>
        </a>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}