{% extends 'movie_store/layout.html' %}
{% block title %}
Order Details - Movie Store
{% endblock %}
{% block content %}
    <h1>Order Details</h1>
    {% if request.user.username == username.username %}
    <p>Your order was placed on {{ order.created_date }}</p>
    {% else %}
    <p>This is order ID #{{ order.id }} for
      <a href="{% url 'customer_details' id=username.id %}" style="color: cornflowerblue;">{{username.first_name}} {{username.last_name}}</a>. The order was placed on {{ order.created_date }} 
   </p>
   {% endif %}
  <p>The order includes these items:</p>
  {% for line_item in line_items %}
  <p>
    Title: <a href="{% url 'movie_details' id=line_item.product.id %}">{{ line_item.product.title }}</a>, Quantity: {{ line_item.quantity}}
  </p>
  
  {% endfor %}
   
{% endblock %}