{% extends 'movie_store/layout.html' %}
{% block title %}
Search Result - Movie Store
{% endblock %}
{% block content %}
{% if query is not None %}
Search results for <b>"{{ query }}"</b> in {{ search }}:
{% endif %}

{% if page_obj %}
    
<div class="page-movie">
    {% for result in page_obj %}
        {% if search == "title" or search == "genre" %}
            <div class="movie-card">
                <a href='{% url 'movie_details' id=result.id %}'>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="{{ result.poster_link }}">
                            </div>
                            <div class="flip-card-back">
                                <img src="{{ result.poster_link }}">

                                <div class="container">
                                    <h3>{{ result.title }}</h3>
                                    <p>{{ result.year_released }}</p>
                                    <p>{{ result.imdb_rating }}/10 ({{ result.imdb_votes }} votes)</p>
                                    {% if result.tagline %}
                                        <p>{{ result.tagline }}</p>
                                    {% endif %}
                                    <p>{{ result.genre }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="movie-title">{{ result.title|upper }}</span>
                    <span style="position: relative;left: 40%;"><b>${{ result.price }}</b></span>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
    {% if search == "director" %}
    {% for result in page_obj %}
    <h3><a href="{% url 'movie_from_director' id=result.id %}">{{ result.name }}</a></h3>
    {% endfor %}
    {% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<p>Found nothing</p>
{% endif %}
{% endblock %}