{% extends 'movie_store/layout.html' %}
{% block title %}
Search Result - Movie Store
{% endblock %}
{% block content %}
{% if query is not None %}
Search results for <b>"{{ query }}"</b> in {{ search }}:
{% endif %}

<!--
{% if search == "title" %}
    {% for result in results %}
    <p><a href="{% url 'movie_details' id=result.id %}">{{ result.title }}</a></p>
    {% endfor %}
{% elif search == "director" or search == "artist" %}
    {% for result in results %}
    <p>{{ result.name }}</p>
    {% endfor %}
{% endif %}
-->
{% for result in page_obj %}
    {% if search == "title" %}
    <p><a href='{% url 'movie_details' id=result.id %}'>{{ result.title }}</a></p>    
    {% elif search == "director" or search == "artist" %}
    <p>{{ result.name }}</p>
    {% endif %}
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}